@model ProjetoMVC.Models.Contato

@{
    ViewData["Title"] = "Deletar contato";
}



<div class="main__content">
    <div class="titulo">
        <h2>Deletar contato?</h2>
    </div>

    <div class="detalhes">
        <dl class="detalhes__contato">
            <dt class="detalhes__contato__topico">
                @Html.DisplayNameFor(x => x.Nome)
            </dt>
            <dt>
                @Html.DisplayFor(x => x.Nome)
            </dt>
        </dl>
        <dl class="detalhes__contato">
            <dt class="detalhes__contato__topico">
                @Html.DisplayNameFor(x => x.Telefone)
            </dt>
            <dt>
                @Html.DisplayFor(x => x.Telefone)
            </dt>
        </dl>
        <dl class="detalhes__contato">
            <dt class="detalhes__contato__topico">
                @Html.DisplayNameFor(x => x.Ativo)
            </dt>
            <dt>
                @Html.DisplayFor(x => x.Ativo)
            </dt>
        </dl>
        </dl>
        <div class="container-btn-detalhes">
            <form asp-action="Deletar">
                <button type="submit" value="Deletar" class="btn-deletar">Deletar</button>
            </form>
            <div >
                <a class="voltar-link" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>




<br>
