@model IEnumerable<ProjetoMVC.Models.Contato>//trabalhando com a models

@{
    ViewData["Title"] = "Listagem de Contatos"; //Alterando o título da página
}
<main class="">


    @* <P>
    <a asp-action="Criar"> Novo Contato</a>
    </P> *@

    <div class="main__table">
        <div class="titulo">
            <h2>Contatos</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Ativo)
                        </td>
                        <td>
                            <a class="table-links" asp-action="Editar" asp-route-id="@item.Id">Editar</a> 
                            <a class="table-links"  asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> 
                            <a class="table-links"  asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="adicionar">
            <a class="btn-adicionar" asp-action="Criar">Novo</a>
        </div>
        
    </div>
</main>